[Desktop Entry]
Version=1.0
Name=Mobbin
Comment=Mobbin
Exec=omarchy-launch-webapp https://mobbin.com/discover/apps/ios/latest
Terminal=false
Type=Application
Icon=/home/yannick/.local/share/applications/icons/Mobbin.png
StartupNotify=true
