[Desktop Entry]
Version=1.0
Name=MonkeyType
Comment=MonkeyType
Exec=omarchy-launch-webapp https://monkeytype.com/
Terminal=false
Type=Application
Icon=/home/yannick/.local/share/applications/icons/MonkeyType.png
StartupNotify=true
