[Desktop Entry]
Version=1.0
Name=Proton Pass
Comment=Proton Pass
Exec=omarchy-launch-webapp https://pass.proton.me/u/0/
Terminal=false
Type=Application
Icon=/home/yannick/.local/share/applications/icons/Proton Pass.png
StartupNotify=true
