[Desktop Entry]
Version=1.0
Name=WkStats
Comment=WkStats
Exec=omarchy-launch-webapp https://www.wkstats.com/progress/dashboard
Terminal=false
Type=Application
Icon=/home/yannick/.local/share/applications/icons/WkStats.png
StartupNotify=true
